section#allmovies {
  height: 100%;
  position: relative;
  @include container(95%);

  h2 {
    @include span(9);
    font-weight: normal;
    line-height: 100%;
    color: darken($orange, 20);
    padding: 10px 0;
  } //h2

  p.add {
    @include span(last 3);
    text-align: right;
    vertical-align: center;

    a {
      text-decoration: none;
      color: $typeDefault;

      span {
        display: none;
        margin-bottom: 15px;

        // @include breakpoint($small) {
        //     display: inherit;
        // }
      }

    }
  }

  img.poster {
    width: 100%;
  }

}
