header {
	@include container;
	background-color: purple;
	z-index: 100;
	max-width: 1024px; // iPad Landscape
	position: relative;

	.logo {
		padding: 15px 0;
		@include span(4);

		h1 {
			padding-left: 10px;
			color: $gold;
			font-size: 3em;
			font-weight: $heavy;
			line-height: 0.6em;
			width: 100px; // make it break to two lines
			@include text-shadow($dark 0 0 20px);
		}
// h1
	}
// logo

	.user {
		padding-top: 20px;
		padding-right: 15px;
		float: right;
		color: $light;

		ul {
			position: absolute;
			top: 67px;
			right: 20px;
			z-index: 120;

			li {
				width: 125px;
				border: 1px solid $iosblue;
				background-color: $light;
				color: $iosblue;
				font-weight: 400;
				text-align: left;
				padding-left: 7px;
			}

			li:first-child {
				border-top: 0;
			}

			a,
			a:visited {
				text-decoration: none;
				color: $iosblue;
				cursor: pointer;
			}
		}

		div {
			height: 50px;
			width: 50px;
			border: 1px solid $light;
			// padding: 10px 3px;
			border-radius: 50%;
			position: relative;

			img {
				position: absolute;
				height: 30px;
				width: 30px;
				top: 10px;
				left: 10px;
				color: $light;
			}
		}
	}
}
//header
