section#mymovies {
	min-height: 100%;
	@include container(95%);

	.gallery {
		div.slot {
			position: relative;

			a {
				position: absolute;
				right: 12%;
				top: 72%;

				img {
					opacity: 0.9;
				}
			}
		}
		img.poster {
			width: 100%;
		}
	}
}
