section#mytrades {
	height: 100%;
	position: relative;
	@include container(95%);

	h1 {
		margin-bottom: 5px;
		margin-top: 10px;
		text-align: left;

		&:first-child {
			margin-top: 0;
		}
	}

	div.column {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;

		@include breakpoint($small) {
			-webkit-column-count: 2;
			-moz-column-count: 2;
			column-count: 2;
	  } //breakpoint

	  @include breakpoint($wide) {
			-webkit-column-count: 3;
			-moz-column-count: 3;
			column-count: 3;
	  } //breakpoint

	}

	button {
		// display: block;
	}

	.accept {
		background-color: #4DB748;
	}

	.decline {
		background-color: #FE3824;
	}

	div.requests {
		@include clearfix;
		@include container;
	}

	div.image {
		@include span(3);
		margin: 3px 0;
	}

	img.poster {
		box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px 0;
		width: 100%;
	}

	div.notes {
		@include span(last 8);
		text-align: left;

		p {
			font-weight: 700;
			padding: 0;
			margin: 0;

			&:last-of-type {
				margin-bottom: 25px;
			}
		}
	}

	h2 {
		@include span(9);
		font-weight: normal;
		line-height: 100%;
		color: darken($orange, 20);
		padding: 10px 0;
	}

	div.borrowed {
		@include clearfix;
		@include container;
	}

	div.onloan {
		@include clearfix;
		@include container;
	}
}
