<div id="main" class="uk-container">
	<h1>Testing UI Kit</h1>
	<div class="uk-grid uk-grid-match" data-uk-grid-match="{target:'.uk-panel'}">
		<div class="uk-width-medium-1-2">
			<div class="uk-panel uk-panel-box uk-panel-box-primary">
				<h3 class="uk-panel-title">Title</h3>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. Bla sd fkj asd iru di bla di blpü dier sdfl aks. Werkj as dr lqöcvj aö werl. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
				<div class="uk-panel-badge uk-badge uk-badge-danger uk-badge-notification">14</div>
			</div>
		</div>
		<div class="uk-width-medium-1-2">
			<div class="uk-panel uk-panel-box">
				<h3 class="uk-panel-title">Title</h3>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
			</div>
		</div>
	</div>

	<div id="react-container"></div>
</div>
